<!--Main page for viewing all accounts with debt and entering new accounts-->
{% extends "base.html"%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped">
                     <tr>
                        <th>Account Name</th>
                        <th>Balance</th>
                        <th>Interest</th>
                    </tr>
                    {% for line in data.credit_lines %}
                        <tr>
                            <th>{{ line.name }}</th>
                            <th>${{ line.balance }}</th>
                            <th>{{ line.interest_rate * 100 }}%</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary btn-lg" href="{{ url_for("strategy") }}" role="button">Finish</a>
                <a class="btn btn-primary btn-lg" href="{{ url_for("collect_basic_data") }}" role="button">Restart</a>
                <a class="btn btn-primary btn-lg" href="{{ url_for("collect_credit_card") }}" role="button">Add Credit Card Account</a>
                <a class=" btn btn-primary btn-lg" href="{{ url_for("collect_loan") }}" role="button">Add Loan Account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
