<!--Strategy report from given data-->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
           <h3>Our Recommendations:</h3>
            {% for line in result.top_3_lines %}
              <p>{{ line.name }} : ${{ line.balance }}</p>
            {% endfor %}
            <h3>SOME ADVICE</h3>
            <p>1) Talk to lenders about defering loans</p>
            <p>2) Consolidate debt/loans</p>
            <p>3) Contact certified financial adviser</p>
            <p>4) Get a freelance job to earn extra money to pay off loans</p>
            <p>5) Minimize luxury expenses</p>
        </div>
    </div>
</div>
{% endblock %}
