<!--Enter in basic user data such as net income and savings-->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <form class="form form-horizontal" method="POST" action="/setup">
                {{ form.csrf_token }}
                {% for field, errors in form.errors.items() %}
                <div class="alert alert-error">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                </div>
                {% endfor %}

                <p>{{ form.net_income.label }} {{ form.net_income(size=20) }}</p>
                <p>{{ form.savings.label }} {{ form.savings(size=20) }}</p>
                <p>{{ form.savings_goal.label }} {{ form.savings_goal(size=20) }}</p>
                <input type="submit" value="Go">
            </form>
        </div>
    </div>
</div>
{% endblock %}
